<div class="container">
	<h1>Getting a machine to optimally play through a turn-based RPG: RPG-MDP Project Intro</h1>
	<h4>Posted 20 May 2020 5:00PM EST</h4>
	<p>The idea behind the Role-Playing Game as a Markov Decision Process (RPG-MDP) was proposed by my friend Julian. He thought that if we could represent a turn-based RPG as a Markov Chain, then we could use machine learning to get the computer to find the most optimal path throughout the RPG. More specifically, and possibly ambitiously, we wanted to see if we could get the computer to play through a Pokemon game. Another outcome of this project is to be able to tell whether certain battles are balanced and if a certain set of paths are balanced as far as speed is concerned</p>
	<p>While that is our long-term hope, the final product may end up looking a bit different. If you want, you can look at the code in the GitHub repository <a href="https://github.com/jesp1999/RPG-MDP" target="_blank">here</a>. The project is coded in Python 3.8. I hope you will enjoy the development logs to come!</p>
	<a routerLink="/RPG-MDP/devlog1">Next Blog Post</a>
</div>