<div class="container">
	<h1>Making a basic battle simulator: RPG-MDP Devlog 1</h1>
	<h4>Posted 20 May 2020 4:40PM EST</h4>

	<p>The first step in this project was making a basic battle simulator. To do this we made classes for entities (those participating in a battle), moves, effects, and the battle itself. It was important to split the parts up in the beginning to allow a better workflow throughout the project. Each entity has a name, a list of moves, and stats. We used a keyworded dictionary for the stats so that we can add more as we develop the simulator, and the current stats are max health, attack, defense, and critical hit chance. We made two subclasses of entity: CPU and Player. The difference between these is how they choose moves. The CPU would choose a move from its list using the random library. We gave the moves and effects attributes as would be in a Pokemon game.</p>
	<img class="center" src="/assets/RPG-MDP/devlog1/moves-and-effects.PNG" alt="Moves and Effects Classes" width="50%" height="50%">

	<p>Next we worked on the battle simulator itself. Each battle has entities and an option to display battle messages. This allows many battles to be played out without the program wasting time printing the battle messages. The battles go by turn by turn, switching who is attacking and who is defending. Since we weren't fully implementing effects just yet, we focused on the damage of the moves. The preliminary code for effect handling just checks if an effect's lifetime is longer than its duration. The way damage is calculated is based off of the formula found on <a href="https://bulbapedia.bulbagarden.net/wiki/Damage#Damage_calculation" target="_blank">bulbapedia</a>. The current way we calculate the "Modifier" currently only uses "Critical" and "random" since we don't have as in-depth of mechanics just yet. If the damage is greater than the defender's remaining HP, it proceeds to the end of the battle.</p>
	<img class="center" src="/assets/RPG-MDP/devlog1/battle-turn.PNG" alt="The Battle Class' Turn method" width="80%" height="50%">

	<p>And with this, we now have a rudimentary battle simulator. If we load in 2 CPU's with different moves and stats we get the following:</p>
	<img class="center" src="/assets/RPG-MDP/devlog1/fighter-stats.PNG" alt="The fighter's stats output." width="50%" height="50%">
	<img class="center" src="/assets/RPG-MDP/devlog1/battle-output.PNG" alt="The first battle simulation's output." width="50%" height="50%">

	<p>We then gave each entity a count of their wins and enabled a command line argument to set the amount of battles to simulate. After that is run, the program outputs the win rates for each entity.</p>
	<img class="center" src="/assets/RPG-MDP/devlog1/win-rate.PNG" alt="Win rates after 100,000 battles." width="50%" height="50%">

	<p>As you can see, the fact that CPU2 has the "Do Nothing" move and CPU1 has the "Obliterate" move, it causes CPU1 to be very overpowered. The last of the things we did as of posting this is making a JSON format to store entities and a python script to give that list of entities to the simulator.</p>
	<img class="center" src="/assets/RPG-MDP/devlog1/json-file.PNG" alt="Entities stored as JSON." width="50%" height="50%">
	<img class="center" src="/assets/RPG-MDP/devlog1/import-script.PNG" alt="Script that takes in JSON and returns a list of entities." width="100%" height="100%">

	<p>This has been the first development log, I hope you enjoyed it, and I hope you will continue to read future logs. Again you can find the current version of the code <a href="https://github.com/jesp1999/RPG-MDP" target="_blank">here</a>. Have a great day!</p>

	<div class="navigation">
		<a routerLink="/RPG-MDP">Previous Blog Post</a><a routerLink="/RPG-MDP">Project Intro</a><a routerLink="/RPG-MDP/devlog2">Next Blog Post</a>
	</div>
</div>