<header id="main-header">
  <app-header></app-header>   
</header>
<nav id="navbar">
  <app-nav-bar></app-nav-bar>
</nav>

<div class="container">
  <section id="main">
    <h1>Welcome</h1>
    <p>The idea of this website is to act as a sort of blog for projects I work on. Hobby projects tend to be sporadic so new posts here will be also, but I will try to give a good understanding of the thought processes and challenges that I come across during such projects. I may gradually make posts for past projects but no guarantees.</p>
    <app-blog-list></app-blog-list>
  </section>
  <app-sidebar></app-sidebar>
</div>

<footer id="footer">
  <app-footer></app-footer>
</footer>


<router-outlet></router-outlet>