<div class="container">
  <section id="main">
    <h1>About This Website</h1>
    <p>The idea of this website is to act as a sort of blog for projects I work on. Hobby projects tend to be sporadic so new posts here will be also, but I will try to give a good understanding of the thought processes and challenges that I come across during such projects. I may gradually make posts for past projects but no guarantees.</p>
    <h1>About Me</h1>
    <p>My name is Ian McDowell and I make programs occasionally. I am a Sophomore dual Computer Science/Mathematics major at the University of South Carolina Columbia. I currently work for the <a href="https://sc.edu/about/centers/digital_humanities/index.php" target="_blank">Center for Digital Humanities at UofSC</a>, primarily helping with the development of the <a href="https://sc.edu/about/centers/digital_humanities/projects/vllc.php" target="_blank">Victorian Lives and Letters Consortium (VLLC)</a> websites like the <a href="https://carlyleletters.dukeupress.edu/home" target="_blank">Carlyle Letters Online</a>.</p>
    <p> I tend to focus on Python for hobby projects, but my work has gotten me working with the MEAN stack so I figured I would share some of that web development skill here, even with the limited backend of Github Pages.</p>
  </section>
  <app-sidebar></app-sidebar>
</div>