<div class="container">
    <h1>A game about the journey for a perfect sandwich: Sandwich Kid Project Intro</h1>
    <h4>Posted 12 June 2020 4:45PM EST</h4>
    <h4>Updated 12 June 2020 6:40PM EST</h4>
    
    <p>So for a few years now, a group of friends and I have wanted to make a game over the summer. With internships cancelled and everyone stuck inside due to COVID-19, we all decided this summer we would actually do it. Our development group has been named Goon Games. The premise of the game is a 2D adventure game where you explore the world to find different sandwich pieces to eventually get you to the perfect sandwich. The current division of work is as follows and will be updated for any changes:</p>
    <ul>
        <li>Lead Artist: <a href="" target="_blank">Megan Goff</a></li>
        <li>Assistant Artist: <a href="" target="_blank">Ian Haskell</a></li>
        <li>Lead Game/Level Designer: <a href="https://github.com/KaiHaskell" target="_blank">Kai Haskell</a></li>
        <li>Assistant Game/Level Designers:</li>
        <ul>
            <li><a href="" target="_blank">Devin DeHollander</a></li>
            <li><a href="https://github.com/jesp1999" target="_blank">Julian Espada</a></li>
            <li>Avery Garner</li>
            <li><a href="https://github.com/ianm24" target="_blank">Ian McDowell</a></li>
        </ul>
        <li>Lead Musician: <a href="" target="_blank">Connor ???</a></li>
        <li>Assistant Musician: <a href="https://github.com/jesp1999" target="_blank">Julian Espada</a></li>
        <li>Lead Plot/Dialogue Writer: Avery Garner</li>
        <li>Assistant Plot/Dialogue Writers:</li>
        <ul>
            <li><a href="" target="_blank">Megan Goff</a></li>
            <li><a href="" target="_blank">Connor ???</a></li>
        </ul>
        <li>Lead Programmer: <a href="https://github.com/jesp1999" target="_blank">Julian Espada</a></li>
        <li>Assistant Programmer: <a href="https://github.com/ianm24" target="_blank">Ian McDowell</a></li>
        <li>Project Manager: <a href="https://ianm24.github.io/home" target="_blank">Ian McDowell</a></li>
        <li>Quality Assurance/Playtesters: </li>
        <ul>
            <li><a href="" target="_blank">Devin Greene</a></li>
            <li><a href="" target="_blank">Christian Williams</a></li>
        </ul>
    </ul>
    <p>We are using the Game Maker Studio 2 game engine to create this because the programmers are familiar with it and it seemed to be a good fit for the scope of the game.</p>
    <a routerLink="/SandwichKid/devlog1">Next Blog Post</a>
</div>